.header__lang-link {
  color: white;
  font-size: 24px;
  line-height: 117%;
  font-weight: 400;
  font-family: "Inter";
}

.header__lang-link:nth-child(1) {
  padding-right: 18px;
}

.header__lang-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}
