.photo-grid {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  padding-bottom: 92px;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-gap: 16px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-gap: 12px;
    padding: 64px 16px;
    grid-template-columns: 1fr;
  }
}
