.cover__subtitle {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 1.22;
  position: relative;
  z-index: 1;

  margin: 0 auto auto auto;
  max-width: 360px;
}

@media screen and (max-width: 750px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
