.cover__overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 740px;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  transition: opacity 0.3s;
}

.cover__overlay::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__overlay:hover::before {
  transition: opacity 0.3s;
  opacity: 0.8;
}

@media screen and (max-width: 1220px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 1020px) {
  .cover__overlay {
    min-height: 600px;
  }
}

@media screen and (max-width: 950px) {
  .cover__overlay {
    min-height: 500px;
  }
}
@media screen and (max-width: 750px) {
  .cover__overlay {
    min-height: 500px;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    min-height: 200px;
  }
}
