.place {
  margin: 0;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
  grid-gap: 40px;
}

@media (max-width: 1024px) {
  .place {
    grid-gap: 32px;
  }
}

@media (max-width: 700px) {
  .place {
    grid-template-columns: 1fr;
  }
}
