.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 920px;
    padding: 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding: 24px;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    margin-top: 64px;
  }
}
